@namespace Arcadia.FormBuilder.Components.Layout
@inherits Arcadia.Core.Base.HelixComponentBase

<div class="@CssClass" style="@Style" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public int Columns { get; set; } = 2;
    [Parameter] public string Gap { get; set; } = "var(--arcadia-spacing-md)";

    private new string? Style => Arcadia.Core.Utilities.StyleBuilder.Default()
        .AddStyle("display", "grid")
        .AddStyle("grid-template-columns", $"repeat({Columns}, 1fr)")
        .AddStyle("gap", Gap)
        .AddRaw(base.Style)
        .Build();

    private string? CssClass => Arcadia.Core.Utilities.CssBuilder.Default("arcadia-form-row")
        .AddClass(Class)
        .Build();
}
