@namespace Arcadia.Core.Licensing

@if (!ArcadiaLicense.IsProLicensed)
{
    <div class="arcadia-watermark" aria-hidden="true" title="Upgrade to Arcadia Pro to remove this watermark">
        <span class="arcadia-watermark__text">Arcadia Community</span>
    </div>
}
