<ul class="arcadia-demo-nav-list">
    <li><a href="/" class="arcadia-demo-nav-link">Home</a></li>
    <li><a href="/theme" class="arcadia-demo-nav-link">Theme</a></li>
    <li><a href="/notifications" class="arcadia-demo-nav-link">Notifications</a></li>
    <li><a href="/forms" class="arcadia-demo-nav-link">FormBuilder</a></li>
    <li><a href="/charts" class="arcadia-demo-nav-link">Charts</a></li>
    <li><a href="/admin" class="arcadia-demo-nav-link" style="color: var(--arcadia-color-primary); font-weight: 600;">Admin Dashboard</a></li>
</ul>
