<ul class="helix-demo-nav-list">
    <li><a href="/" class="helix-demo-nav-link">Home</a></li>
    <li><a href="/theme" class="helix-demo-nav-link">Theme</a></li>
    <li><a href="/notifications" class="helix-demo-nav-link">Notifications</a></li>
    <li><a href="/forms" class="helix-demo-nav-link">FormBuilder</a></li>
</ul>
