<ul class="arcadia-demo-nav-list">
    <li><a href="/" class="arcadia-demo-nav-link">Home</a></li>
    <li><a href="/theme" class="arcadia-demo-nav-link">Theme</a></li>
    <li><a href="/notifications" class="arcadia-demo-nav-link">Notifications</a></li>
</ul>
