@namespace HelixUI.Theme
@inherits HelixUI.Core.Base.HelixComponentBase
@implements IDisposable

<div data-helix-theme="@ThemeService.CurrentTheme.Name"
     data-helix-density="@Density"
     class="@CssClass"
     style="@ComputedStyle"
     @attributes="AdditionalAttributes">
    <CascadingValue Value="ThemeService" IsFixed="false">
        @ChildContent
    </CascadingValue>
</div>
