@namespace Arcadia.Charts.Components.Shared

<div class="arcadia-chart arcadia-chart--loading" style="width:100%;min-height:@(Height)px;">
</div>
@code {
    [Parameter] public double Height { get; set; } = 300;
}
