@namespace Arcadia.FormBuilder.Components
@inherits Arcadia.Core.Base.HelixComponentBase

<form class="@CssClass"
      @onsubmit="HandleSubmit"
      novalidate
      @attributes="AdditionalAttributes">

    @if (HasErrors && ShowErrorSummary)
    {
        <div class="arcadia-form__error-summary" role="alert">
            <strong>@ErrorSummaryTitle</strong>
            <ul>
                @foreach (var fieldErrors in State!.Errors)
                {
                    @foreach (var error in fieldErrors.Value)
                    {
                        <li>@error</li>
                    }
                }
            </ul>
        </div>
    }

    <CascadingValue Value="State" IsFixed="false">
        @ChildContent
    </CascadingValue>
</form>
